.players-list {
  padding-left: 0px;
  list-style: none;
  li img {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
  }
  li p {
    margin-left: 10px;
    display: inline-block;
    vertical-align: super;
    font-size: 1rem;
  }
}

.player-count {
  float: right;
}
.game-time {

}
.game-round {
  float: right;
}

.game-panel .panel-body {
  min-height: 550px;
}

.invite {
  .code {
    font-size: 2rem;
    font-weight: bold;
  }
}

#sketch {
  width: 100%;
  height: 500px;
}
