.players-list {
  padding-left: 0px;
  list-style: none;
  .player {
    margin-bottom: 20px;
  }
  .player img {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
  }
  .player .player-details {
    display: inline-block;
    vertical-align: bottom;
  }
  .player .player-details .player-name {
    margin: 0px 0px 0px 15px;
    font-size: 1rem;
  }
  .player .player-details .player-points {
    margin: 0px 0px 0px 15px;
    font-size: 0.8rem;
  }
  .player .player-details .player-points span {
    color: #2ecc71;
  }
}

.player-count {
  float: right;
}
.game-time {

}
.game-round {
  margin-left: 5px;
}

#game .panel-body {
  min-height: 550px;
}

.game-main {
  .code {
    font-size: 2rem;
    font-weight: bold;
  }
  .code span{
    color: #67c2ff;
  }
}

.word-list {
  list-style: none;
  padding-left: 0px;
  li {
    font-size: 2rem;
    cursor: pointer;
  }
  li:hover {
    color: #67c2ff;
  }
}

#sketch {
  width: 100%;
  height: 500px;
}

// CHAT
.game-chat .panel-body {
  position: relative;
}
.chats {
  height: 500px;
  overflow: scroll;
  margin-bottom: 20px;
}
.chats p {
  margin: 0px;
}
.chats .chat span {
  color: #67c2ff;
}
.chats .notification {
  color: #2ecc71;
}

.chat-input {
  position: absolute;
  bottom: 0px;
  left: 0px;
  input {
    width: 100%;
  }
}

// SCORE
.final-points {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.final-points .player-name {
  text-align: left;
  font-size: 1.5rem;
}
.final-points .player-points {
  text-align: right;
  font-size: 1.5rem;
}
