.panel {
  width: auto;
  min-height: 100px;
  padding: 10px 20px;
  background: #FFF;
  border-radius: 4px;
  margin-bottom: 50px;
}
.panel-title {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.panel-body {
  font-size: 1rem;
  margin-top: 20px;
}
