@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

/* Home */

.app-intro {
  width: 100%;
  min-height: 100vh;
}

.app-intro .container {
  padding-top: 100px;
}

.app-intro .app-intro-text {
  margin-top: 100px;
  margin-left: 30px;
}

.app-intro .app-title {
  font-size: 3rem;
  margin: 0px;
}
.app-intro .app-subtitle {
  font-size: 1rem;
  margin: 0px;
}

.app-intro .app-description {
  font-size: 1.2rem;
}

.app-intro .artboard {
  
}

.art {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
}
